/***********************************************************************************************************************
 *
 * debugview.css
 *
 * Copyright © 2016–2017 Thomas Michael Edwards <tmedwards@motoslave.net>. All rights reserved.
 * Use of this source code is governed by a Simplified BSD License which can be found in the LICENSE file.
 *
 **********************************************************************************************************************/

/*
	Patches to the UI bar styles.
*/
#ui-bar-body > #debug-view-toggle:first-child {
	margin-top: 1em;
}
#ui-bar-body > #debug-view-toggle:first-child + * {
	margin-top: 1em;
}


/*
	UI bar debug view toggle button styles.
*/
#debug-view-toggle {
	text-transform: uppercase;
}
#debug-view-toggle:before,
#debug-view-toggle:after {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}
#debug-view-toggle:before {
	content: "\e838\00a0";
}
html:not([data-debug-view]) #debug-view-toggle {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	padding: 0.4em;
}
html:not([data-debug-view]) #debug-view-toggle:hover {
	background-color: #333;
	border-color: #eee;
}
html:not([data-debug-view]) #debug-view-toggle:after {
	content: "\00a0\00a0\e830";
}
html[data-debug-view] #debug-view-toggle {
	background-color: #282;
	border-color: #4a4;
}
html[data-debug-view] #debug-view-toggle:hover {
	background-color: #4a4;
	border-color: #6c6;
}
html[data-debug-view] #debug-view-toggle:after {
	content: "\00a0\00a0\e831";
}


/*
	Default debug view styles.
*/
html[data-debug-view] .debug {
	padding: 0.25em;
	background-color: #234; /* #541, #151 */
}
html[data-debug-view] .debug[title] {
	cursor: help;
}
html[data-debug-view] .debug.block {
	display: inline-block;
	vertical-align: middle;
}
html[data-debug-view] .debug.invalid {
	text-decoration: line-through;
}
html[data-debug-view] .debug.hidden,
html[data-debug-view] .debug.hidden .debug {
	background-color: #555;
}
html:not([data-debug-view]) .debug.hidden {
	display: none;
}

html[data-debug-view] .debug[data-name][data-type]:before,
html[data-debug-view] .debug[data-name][data-type].nonvoid:after {
	background-color: rgba(0,0,0,0.25);
	font-family: monospace, monospace;
	white-space: pre;
}
html[data-debug-view] .debug[data-name][data-type]:before {
	content: attr(data-name);
}
html[data-debug-view] .debug[data-name][data-type|="macro"]:before {
	content: "<<" attr(data-name) ">>";
}
html[data-debug-view] .debug[data-name][data-type|="macro"].nonvoid:after {
	content: "<</" attr(data-name) ">>";
}
html[data-debug-view] .debug[data-name][data-type|="html"]:before {
	content: "<" attr(data-name) ">";
}
html[data-debug-view] .debug[data-name][data-type|="html"].nonvoid:after {
	content: "</" attr(data-name) ">";
}
html[data-debug-view] .debug[data-name][data-type]:not(:empty):before {
	margin-right: 0.25em;
}
html[data-debug-view] .debug[data-name][data-type].nonvoid:not(:empty):after {
	margin-left: 0.25em;
}
html[data-debug-view] .debug[data-name][data-type|="special"],
html[data-debug-view] .debug[data-name][data-type|="special"]:before {
	display: block;
}
