/***********************************************************************************************************************
 *
 * appearance.css
 *
 * Copyright © 2014–2015 Thomas Michael Edwards <tmedwards@motoslave.net>. All rights reserved.
 * Use of this source code is governed by a Simplified BSD License which can be found in the LICENSE file.
 *
 **********************************************************************************************************************/

body {
	color: #eee;
	background-color: #111;
}
*:focus {
	outline: thin dotted;
}
a {
	cursor: pointer;
	color: #68d;
	text-decoration: none;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
}
/*a:focus,*/
a:hover {
	color: #8af;
	text-decoration: underline;
}
a.link-broken {
	color: #c22;
}
/*a.link-broken:focus,*/
a.link-broken:hover {
	color: #e44;
}
area {
	cursor: pointer;
}
button {
	cursor: pointer;
	color: #eee;
	background-color: #35a;
	border: 1px solid #57c;
	line-height: normal;
	padding: 0.4em;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
}
/*button:focus,*/
button:hover {
	background-color: #57c;
	border-color: #79e;
}
button:disabled {
	cursor: not-allowed;
	background-color: #444;
	border: 1px solid #666;
}
input, select, textarea {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	padding: 0.4em;
}
select {
	padding: 0.34em 0.4em;
}
input[type="text"], textarea {
	/*
	font-family: monospace, monospace;
	font-size: 1em;
	*/
	min-width: 20em;
}
input[type="checkbox"], input[type="file"], input[type="radio"], select {
	cursor: pointer;
}
input:focus, select:focus, textarea:focus,
input:hover, select:hover, textarea:hover {
	background-color: #333;
	border-color: #eee;
}
hr {
	display: block;
	height: 1px;
	border: none;
	border-top: 1px solid #eee;
	margin: 1em 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
audio, canvas, progress, video {
	max-width: 100%;
}

.error {
	padding: 0.4em;
	background-color: #511;
	border-left: 0.5em solid #c22;
}
.error[title] {
	cursor: help;
}
.highlight, .marked {
	color: yellow;
	font-weight: bold;
	font-style: italic;
}
.nobr {
	white-space: nowrap;
}

#ui-bar {
	background-color: #222;
	border-right: 1px solid #444;
	text-align: center;
}
#ui-bar-body {
	overflow: auto;
}
#ui-bar a {
	text-decoration: none;
}
#ui-bar hr {
	border-color: #444;
}
#ui-bar-toggle {
	position: absolute;
	top: 0.2em;
	right: 0;
}
#ui-bar-toggle button {
	display: block;
	font-size: 1.2em;
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	border-right: none;
	line-height: inherit;
	padding: 0.3em 0.45em 0.25em;
}
#ui-bar.stowed #ui-bar-toggle button {
	padding: 0.3em 0.35em 0.25em 0.55em;
}
/*#ui-bar-toggle button:focus,*/
#ui-bar-toggle button:hover {
	background-color: #444;
	border-color: #eee;
}
#ui-bar header, #story-caption, #menu {
	line-height: 1.5;
}
#menu, #ui-bar footer {
	margin-top: 2em;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #444;
}
#menu ul:first-child {
	margin-top: 0.5em;
}
#menu ul:not(:first-child) {
	border-top: none;
}
#menu li {
	margin: 0;
}
#menu li:not(:first-child) {
	border-top: 1px solid #444;
}
#menu li a {
	display: block;
	padding: 0.25em 0.75em;
	border: 1px solid transparent;
	color: #eee;
	text-transform: uppercase;
}
/*#menu li a:focus,*/
#menu li a:hover {
	background-color: #444;
	border-color: #eee;
}
#story-title {
	margin: 0;
	font-size: 162.5%;
}
#story-author {
	margin-top: 2em;
	font-weight: bold;
}
#story-caption {
	margin-top: 2em;
}
#ui-bar footer {
	color: #888;
}
#ui-bar footer > * {
	font-size: 62.5%;
}
#ui-bar footer a {
	color: #bbb;
}
/*#ui-bar footer a:focus,*/
#ui-bar footer a:hover {
	color: #eee;
}

[data-icon]:before,
[data-icon-before]:before,
[data-icon-after]:after,
.error:before,
a.macro-back:before,
a.macro-return:after,
#story a.link-external:after,
#ui-bar-toggle button:before,
#menu-saves a:before,
#menu-rewind a:before,
#menu-settings a:before,
#menu-restart a:before,
#menu-share a:before,
#ui-dialog-close,
#ui-dialog-body.saves button[id="saves-export"]:before,
#ui-dialog-body.saves button[id="saves-import"]:before,
#ui-dialog-body.saves button[id="saves-clear"]:before,
#ui-dialog-body.settings button[id|="setting-control"]:after,
#ui-dialog-body.settings button[id|="setting-control"].enabled:after {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: none;
}
[data-icon]:before {
	content: attr(data-icon);
}
[data-icon-before]:before {
	content: attr(data-icon-before) "\00a0";
}
[data-icon-after]:after {
	content: "\00a0" attr(data-icon-after);
}
.error:before {
	content: "\00a0\e80d\00a0\00a0";
}
a.macro-back:before {
	content: "\e821\00a0";
}
a.macro-return:after {
	content: "\00a0\e822";
}
#story a.link-external:after {
	content: "\00a0\e80e";
}
#ui-bar-toggle button:before {
	content: "\e81d";
}
#ui-bar.stowed #ui-bar-toggle button:before {
	content: "\e81e";
}
#menu-saves a:before {
	content: "\e82b\00a0";
}
#menu-rewind a:before {
	content: "\e825\00a0";
}
#menu-settings a:before {
	content: "\e82d\00a0";
}
#menu-restart a:before {
	content: "\e82c\00a0";
}
#menu-share a:before {
	content: "\e82f\00a0";
}
#ui-dialog-body.saves button[id="saves-export"]:before {
	content: "\e829\00a0";
}
#ui-dialog-body.saves button[id="saves-import"]:before {
	content: "\e82a\00a0";
}
#ui-dialog-body.saves button[id="saves-clear"]:before {
	content: "\e827\00a0";
}
#ui-dialog-body.settings button[id|="setting-control"]:after {
	content: "\00a0\00a0\e830";
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:after {
	content: "\00a0\00a0\e831";
}

/* Default dialog styling */
#ui-overlay {
	background-color: #000;
}
#ui-overlay.open {
	opacity: 0.8;
}
#ui-dialog {
	max-width: 66em;
}
#ui-dialog.open {
	opacity: 1;
}
#ui-dialog-title {
	margin: 0;
	padding: 0.2em 3.5em 0.2em 0.5em;
	min-height: 24px;
	font-size: 1.5em;
	background-color: #444;
	text-align: center;
	text-transform: uppercase;
}
#ui-dialog-close {
	cursor: pointer;
	font-size: 120%;
	margin: 0;
	padding: 0;
	width: 3.6em;
	height: 1.6em;
	color: #eee;
	background-color: #922;
	border: 1px solid #b44;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
}
/*#ui-dialog-close:focus,*/
#ui-dialog-close:hover {
	background-color: #b44;
	border-color: #d66;
}
#ui-dialog-body {
	background-color: #111;
	border: 1px solid #444;
	text-align: left;
	line-height: 1.5;
	padding: 1em;
}
#ui-dialog-body > *:first-child {
	margin-top: 0;
}
#ui-dialog-body hr {
	background-color: #444;
}

/* Default dialog button bar styling */
#ui-dialog-body ul.buttons {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ui-dialog-body ul.buttons li {
	display: inline-block;
	margin: 0;
	padding: 0.4em 0.4em 0 0;
}
#ui-dialog-body ul.buttons > li + li > button {
	margin-left: 1em;
}

/* List-based dialog styling (primarily for the Rewind & Share dialogs) */
#ui-dialog-body.list {
	padding: 0;
	min-width: 140px;
}
#ui-dialog-body.list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#ui-dialog-body.list li {
	margin: 0;
}
#ui-dialog-body.list li:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.list li a {
	display: block;
	padding: 0.25em 0.75em;
	border: 1px solid transparent;
	color: #eee;
	text-decoration: none;
}
/*#ui-dialog-body.list li a:focus,*/
#ui-dialog-body.list li a:hover {
	background-color: #333;
	border-color: #eee;
}

/* Saves dialog styling */
#ui-dialog-body.saves {
	padding: 0 0 1px; /* Webkit/Blink need 1px bottom padding or they'll trigger the scroll bar */
}
#ui-dialog-body.saves > *:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves table {
	border-spacing: 0;
	min-width: 320px;
	width: 100%;
}
#ui-dialog-body.saves tr:not(:first-child) {
	border-top: 1px solid #444;
}
#ui-dialog-body.saves td {
	padding: 0.33em 0.33em;
}
#ui-dialog-body.saves td:first-child {
	min-width: 1.5em;
	text-align: center;
}
#ui-dialog-body.saves td:nth-child(3) {
	line-height: 1.2;
}
#ui-dialog-body.saves td:last-child {
	text-align: right;
}
#ui-dialog-body.saves .empty {
	color: #999;
}
#ui-dialog-body.saves .datestamp {
	font-size: 75%;
}
#ui-dialog-body.saves ul.buttons li {
	padding: 0.4em;
}
#ui-dialog-body.saves ul.buttons li:last-child {
	/*
		Using `position:absolute;right:0;` here can produce poor results, so we
		fallback to using `float:right` instead.
	*/
	float: right;
}

/* Settings dialog styling */
#ui-dialog-body.settings div[id|="setting-body"] + div[id|="setting-body"] {
	margin: 0.5em 0;
}
#ui-dialog-body.settings [id|="setting-control"] {
	white-space: nowrap;
}
#ui-dialog-body.settings button[id|="setting-control"] {
	color: #eee;
	background-color: transparent;
	border: 1px solid #444;
	padding: 0.4em;
}
/*#ui-dialog-body.settings button[id|="setting-control"]:focus,*/
#ui-dialog-body.settings button[id|="setting-control"]:hover {
	background-color: #333;
	border-color: #eee;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
	background-color: #282;
	border-color: #4a4;
}
/*#ui-dialog-body.settings button[id|="setting-control"].enabled:focus,*/
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
	background-color: #4a4;
	border-color: #6c6;
}

/* Share dialog styling */
#ui-dialog-body.share {
	min-width: 140px;
}

/* Passages area styling */
#passages {
	max-width: 60em;
	margin: 0 auto;
}
.passage {
	line-height: 1.75;
	text-align: left;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.passage-in {
	opacity: 0;
}
.passage ul, .passage ol {
	margin-left: 0.5em;
	padding-left: 1.5em;
}
.passage table {
	margin: 1em 0;
	border-collapse: collapse;
	font-size: 100%;
}
.passage tr, .passage th, .passage td, .passage caption {
	padding: 3px;
}
.passage .error {
	white-space: nowrap;
}
