<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>SugarCube</title>
<!--

SugarCube (build: [($VERSION)]), a header for Twine/Twee
Copyright (c) 2013 Thomas Michael Edwards.

Credits: barabbas and Napdragon, for their support

-->
<script type="text/javascript">
/*
Portions of this code are based on:
____

TiddlyWiki 1.2.39 by Jeremy Ruston, (jeremy [at] osmosoft [dot] com)

Published under a BSD open source license

Copyright (c) Osmosoft Limited 2005

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this list
of conditions and the following disclaimer.

Redistributions in binary form must reproduce the above copyright notice, this
list of conditions and the following disclaimer in the documentation and/or
other materials provided with the distribution.

Neither the name of the Osmosoft Limited nor the names of its contributors may
be used to endorse or promote products derived from this software without
specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
[($SCRIPTS)]
</script>
<style type="text/css">[($STYLES)]</style>
</head>
<body id="body">
	<div id="sidebar">
		<header id="title">
			<div id="storyBanner"></div>
			<h1 id="storyTitle"></h1>
			<div id="storySubtitle"></div>
			<p id="storyAuthor"></p>
		</header>
		<div id="storyCaption"></div>
		<nav>
			<ul id="menu">
				<li id="storyMenu"></li>
				<li id="saves"><a>Saves</a></li>
				<li id="snapback"><a>Rewind</a></li>
				<li id="restart"><a>Restart</a></li>
				<li id="options"><a>Options</a></li>
				<li id="share"><a>Share</a></li>
			</ul>
		</nav>
		<footer>
			<p id="credits">This story was created with <a href="http://gimcrackd.com/etc/src/">Twine</a> and is powered by <a href="http://www.motoslave.net/sugarcube/">SugarCube</a>, which is based on <a href="http://tiddlywiki.com/">TiddlyWiki</a></p>
			<p id="version">SugarCube (&#x03b2;-[($VERSION)])</p>
		</footer>

		<!-- pop menu targets -->
		<div id="savesMenu" class="menu"></div>
		<div id="snapbackMenu" class="menu"></div>
		<div id="optionsMenu" class="menu"></div>
		<div id="shareMenu" class="menu"></div>
	</div>

	<div role="main" id="passages"><noscript>Please enable JavaScript to play this story!</noscript></div>

	<div id="storeArea">