/***********************************************************************************************************************
 *
 * media-queries.css
 *
 * Copyright © 2014–2015 Thomas Michael Edwards <tmedwards@motoslave.net>. All rights reserved.
 * Use of this source code is governed by a Simplified BSD License which can be found in the LICENSE file.
 *
 **********************************************************************************************************************/

/*
	Increase viewport utilization as its size decreases.
*/
@media screen and (max-width: 1136px) {
	#ui-bar.stowed ~ #story {
		margin-left: 3.5em;
	}
	#story {
		margin-right: 1.5em;
		margin-left: 19em;
	}
}

/*
	At narrow viewport widths, set #story{margin-left} equal to #ui-bar.stowed~#story{margin-left},
	so that #ui-bar will side over top of #story when unstowed, rather than shoving it over.
*/
@media screen and (max-width: 768px) {
	#story {
		margin-left: 3.5em;
	}
}
