
/* Increase viewport utilization as its size decreases */
@media screen and (max-width: 1136px) {
	#ui-bar.stowed ~ #story {
		margin-left: 3.5em;
	}
	#story {
		margin-right: 1.5em;
		margin-left: 19em;
	}
}
