
/* Basic mobile device styling */
@media screen and (max-width: 1280px) {
	body {
		margin-right: 11%;
	}
}
@media screen and (max-width: 960px) {
	body {
		margin: 3.5% 7% 3.5% 3.5em;
	}
	#ui-bar {
		padding-top: 3.5%;
	}
}
@media screen and (max-width: 800px) {
	body {
		margin: 3.5%;
	}

	/* FULL SIDEBAR PROTOTYPE
	*/
	#ui-bar {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border-right: none;
		border-bottom: 1px solid #fff;
	}
	/* OLD SIDEBAR
	#ui-bar {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		border-right: none;
		border-bottom: 1px solid #fff;
	}
	*/
	#ui-bar header, #ui-bar #story-caption, #ui-bar footer {
		text-align: left;
		width: 60%;
	}
	#ui-bar nav {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}
	#ui-bar ul {
		margin: 0;
	}
	#ui-bar li {
		margin-bottom: 0.5em;
	}
	#ui-bar li#menu-story {
		margin-bottom: 0.7em;
		line-height: 0.9;
	}

	#passages {
		width: 100%;
		margin-left: 0;
		padding-top: 2em;
		padding-left: 0;
		border-left: none;
		min-height: 100vh;
	}
}
