/***********************************************************************************************************************
 *
 * structural.css
 *
 * Copyright © 2014–2015 Thomas Michael Edwards <tmedwards@motoslave.net>. All rights reserved.
 * Use of this source code is governed by a Simplified BSD License which can be found in the LICENSE file.
 *
 **********************************************************************************************************************/

/* Default body styling */
body {
	/*
		We define the base font size and line height here as they affect the layout
		of the base page elements (i.e. `#ui-bar`, `#ui-dialog`, and `#story`).
	*/
	font: 16px/1 Helmet, Freesans, sans-serif;
}
html.ui-dialog-open body {
	overflow: hidden;
}

/* Special no transition styling */
.no-transition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

/* Default story data styling */
#store-area, tw-storydata {
	display: none !important;
	z-index: 0;
}

/* Default ui-bar styling */
#ui-bar {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 17.5em;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-transition: left 200ms ease-in;
	-moz-transition: left 200ms ease-in;
	transition: left 200ms ease-in;
}
#ui-bar.stowed {
	left: -15.5em;
}
#ui-bar-body {
	height: 90%; /* fallback for browsers without support for calc() */
	height: calc(100% - 2.5em);
	margin: 2.5em 0;
	padding: 0 1.5em;
}
#ui-bar.stowed #ui-bar-body {
	visibility: hidden;
	-webkit-transition: visibility 200ms step-end;
	-moz-transition: visibility 200ms step-end;
	transition: visibility 200ms step-end;
}

/* Default dialog styling */
#ui-overlay.open {
	visibility: visible;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}
#ui-overlay:not(.open) {
	-webkit-transition: visibility 200ms step-end, opacity 200ms ease-in;
	-moz-transition: visibility 200ms step-end, opacity 200ms ease-in;
	transition: visibility 200ms step-end, opacity 200ms ease-in;
}
#ui-overlay {
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#ui-dialog.open {
	display: block;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}
/*
	We cannot animate `#ui-dialog:not(.open)` as the restoration of `overflow` on
	`body` would cause the still animating dialog to jerk if a scrollbar popped in.
*/
#ui-dialog {
	display: none;
	opacity: 0;
	z-index: 1100;
	position: fixed;
	top: 50px;
	margin: 0;
	padding: 0;
}
#ui-dialog-close {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
}
#ui-dialog-body {
	overflow: auto;
	min-width: 280px;
	height: 90%; /* fallback for browsers without support for calc() */
	height: calc(100% - 2.1em - 34px); /* title(2.1em) - top/bottom borders(2px) - top/bottom gutters(32px) */
}

/* Settings dialog styling */
#ui-dialog-body.settings [id|="setting-body"] {
	display: table;
	width: 100%;
}
#ui-dialog-body.settings [id|="setting-label"] {
	display: table-cell;
	padding: 0.4em 2em 0.4em 0;
}
#ui-dialog-body.settings [id|="setting-label"] + div {
	display: table-cell;
	min-width: 8em;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
}

/* Passages area styling */
#story {
	z-index: 10;
	margin: 2.5em 2.5em 2.5em 20em;
	-webkit-transition: margin-left 200ms ease-in;
	-moz-transition: margin-left 200ms ease-in;
	transition: margin-left 200ms ease-in;
}
#ui-bar.stowed ~ #story {
	margin-left: 4.5em;
}

/* Stop text selection on certain UI anchors & buttons */
button,
#ui-bar-toggle,
#menu a,
#ui-dialog-close,
#ui-dialog-body.list a,
#ui-dialog-body.settings span[id|="setting-input"] {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
