
body { margin: 3.5em 15% 5% 3.5em; color: #fff; background-color: #111; font-family: verdana,"dejavu sans",tahoma,arial,sans-serif; font-size: 12px; }
a { cursor: pointer; color: #46d; }
a:hover { color: #8af; }
a:active { color: #f70; }
a.link-internal, a.link-external, a.link-back, a.link-return { font-weight: bold; text-decoration: none; }
a.link-internal:hover, a.link-external:hover, a.link-back:hover, a.link-return:hover { text-decoration: underline; }
a.link-broken { padding: 3px; color: #000; background-color: red; font-weight: bold; text-decoration: none; }
input, textarea { min-width: 16em; color: #fff; background-color: #444; border: 1px solid #fff; }
input:focus, textarea:focus { border: 1px solid #292; }
input:hover, textarea:hover { border: 1px solid #f70; }
noscript { color: red; font-size: 210%; font-weight: bold; }
.error { margin: 0 12px 0 3px; padding: 3px 5px; color: #000; background-color: red; font-weight: bold; }
.transition-start { opacity: 0; }

#ui-bar { position: fixed; top: 3.5em; left: 3.5em; width: 14.5em; margin: 0; padding: 0 1.5em 0 0; border-right: 1px solid #fff; }
#ui-bar header, #ui-bar nav, #ui-bar footer { text-align: right; }
#ui-bar header, #ui-bar nav { font-weight: bold; }
#ui-bar nav, #ui-bar footer { margin-top: 3em; }
#ui-bar ul { list-style: none; }
#ui-bar li { margin-bottom: 1em; }
#ui-bar li a { text-decoration: none; }

#storyCaption, #menu-story, #menu-options, #ui-body.share, #menu-share { display: none; }
#storyTitle { margin: 0; font-size: 210%; }
#storySubtitle { font-size: 111%; }
#storyAuthor { font-size: 111%; }
#storyCaption { margin-top: 3em; text-align: right; }
#menu-story { line-height: 1.2; }

#credits, #version { margin-top: 1em; color: #999; font-weight: normal; font-size: 71%; }

/* Default menu styling */
#ui-overlay
{
	display: none;
	z-index: 1000;
	opacity: 0.66;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #000;
}
#ui-body
{
	display: none;
	z-index: 1100;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 50%;
	min-width: 140px;
	max-width: 1024px;
	color: #fff;
	background-color: #333;
	border: 1px solid #fff;
	text-align: left;
	line-height: 2;
}
#ui-body div
{
	padding: 0.2em;
}
#ui-body hr { height: 1px; border: none; background-color: #fff; }

/* Default menu button styling */
#ui-body button
{
	cursor: pointer;
	padding: 4px 6px;
	color: #fff;
	background-color: #259;
	border: 1px solid #47b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body button:hover
{
	background-color: #47b;
	border: 1px solid #69d;
}
#ui-body button:active
{
	background-color: #f70;
	border: 1px solid #f92;
}
#ui-body > ul > li + li > button, #ui-body .controls > button + button
{
	margin-left: 12px;
}

/* Saves menu styling */
#ui-body.saves table
{
	border-spacing: 0;
	border-bottom: 1px solid #fff;
	min-width: 320px;
	width: 100%;
}
#ui-body.saves tr:nth-child(even)
{
	background-color: #444;
}
#ui-body.saves td
{
	padding: 0.1em 0.3em 0.2em;
}
#ui-body.saves td:first-child
{
	min-width: 1.5em;
	text-align: center;
}
#ui-body.saves .empty
{
	color: #999;
}
#ui-body.saves ul { display: block; margin: 0; padding: 0; list-style: none; }
#ui-body.saves li { display: inline-block; margin: 0; padding: 0.4em 0.4em 0.5em; }
#ui-body.saves > div { border-top: 1px solid #fff; }
#saves-import-label { margin: 0 6px; font-weight: bold; }
#saves-import-file { margin: 0 6px 6px; }

/* Rewind & Share menu styling */
#ui-body.share a { display: block; color: #fff; font-weight: normal; text-decoration: none; }
#ui-body.rewind div, #ui-body.share div, #ui-body.share a
{
	padding: 0.15em 0.75em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body.rewind div:nth-child(even), #ui-body.share div:nth-child(even), #ui-body.share a:nth-child(even)
{
	background-color: #444;
}
#ui-body.rewind div:hover, #ui-body.share div:hover, #ui-body.share a:hover
{
	cursor: pointer;
	color: #fff;
	background-color: #47b;
}
#ui-body.rewind div:active, #ui-body.share div:active, #ui-body.share a:active
{
	background-color: #47b;
}

/* Options & Restart menu styling */
#ui-body.options, #ui-body.restart
{
	min-width: 280px;
	padding: 0.33em 1em 0.66em;
}
#ui-body.options ul, #ui-body.restart ul { display: block; margin: 0; padding: 0; list-style: none; }
#ui-body.options li, #ui-body.restart li { display: inline-block; margin: 0; padding: 0.4em 0.4em 0.5em; }
#ui-body.options [id|="option"] a
{
	cursor: pointer;
	padding: 4px 6px;
	font-weight: normal;
	color: #fff;
	background-color: #259;
	border: 1px solid #47b;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body.options [id|="option"] a:hover
{
	background-color: #47b;
	border: 1px solid #69d;
	text-decoration: none;
}
#ui-body.options [id|="option"].enabled a
{
	background-color: #292;
	border: 1px solid #4b4;
	text-decoration: none;
}
#ui-body.options [id|="option"].enabled a:hover
{
	background-color: #4b4;
	border: 1px solid #6d6;
	text-decoration: none;
}
#ui-body.options [id|="option"] + [id|="option"]
{
	margin-left: 12px;
}
#ui-body.options [id|="option"] a:before
{
	font-family: 'icomoon-sugarcube';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e002\00a0";
}
#ui-body.options [id|="option"].enabled a:before
{
	font-family: 'icomoon-sugarcube';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\e000\00a0";
}

#passages { margin-left: 16em; padding-left: 1.5em; border-left: 1px solid #fff; }
.passage { line-height: 1.75; margin-bottom: 2em; text-align: left; transition: opacity 400ms ease-in; -webkit-transition: opacity 400ms ease-in; }
.passage .actions { list-style: none; padding-top: 1.3em; text-align: center; }
.passage .actions li { display: inline; margin-right: 6em; }
.passage ul, .passage ol { margin-left: 0.5em; padding-left: 1.5em; }
.passage table { margin: 0.8em 1.0em; border-collapse: collapse; font-size: 100%; }
.passage th, .passage td, .passage tr, .passage caption { padding: 3px; }
.passage hr { height: 1px; border: none; background-color: #fff; }

.highlight, .marked { color: yellow; font-weight: bold; font-style: italic; }

#store-area { display: none; }
