
body { margin: 3.5em 15% 5% 3.5em; color: #fff; background-color: #111; font-family: verdana,"dejavu sans",tahoma,arial,sans-serif; font-size: 12px; }
a { cursor: pointer; color: #46d; }
a:hover { color: #8af; }
a:active { color: #f70; }
a.internalLink, a.externalLink, a.backLink, a.returnLink { font-weight: bold; text-decoration: none; }
a.internalLink:hover, a.externalLink:hover, a.backLink:hover, a.returnLink:hover { text-decoration: underline; }
a.brokenLink { padding: 3px; color: #000; background-color: red; font-weight: bold; text-decoration: none; }
input, textarea { min-width: 16em; color: #fff; background-color: #444; border: 1px solid #fff; }
input:focus, textarea:focus { border: 1px solid #292; }
input:hover, textarea:hover { border: 1px solid #f70; }
noscript { color: red; font-size: 210%; font-weight: bold; }
.error { margin: 0 12px 0 3px; padding: 3px 5px; color: #000; background-color: red; font-weight: bold; }

#sidebar { position: fixed; top: 3.5em; left: 3.5em; width: 14.5em; margin: 0; padding: 0 1.5em 0 0; border-right: 1px solid #fff; }
#sidebar header, #sidebar nav, #sidebar footer { text-align: right; }
#sidebar header, #sidebar nav { font-weight: bold; }
#sidebar nav, #sidebar footer { margin-top: 3em; }
#sidebar ul { list-style: none; }
#sidebar li { margin-bottom: 1em; }
#sidebar li a { text-decoration: none; }

#storyTitle { margin: 0; font-size: 210%; }
#storySubtitle { font-size: 111%; }
#storyAuthor { font-size: 111%; }
#storyCaption { display: none; margin-top: 3em; text-align: right; }
#storyMenu, #shareMenu, #share { display: none; }
#storyMenu { line-height: 1.2; }

#credits, #version { margin-top: 1em; color: #999; font-weight: normal; font-size: 71%; }

/* Default pop menu styling */
.menu
{
	position: fixed;
	display: none;
	color: #fff;
	background-color: #333;
	border: 1px solid #fff;
	text-align: left;
	line-height: 2;
}
.menu div
{
	padding: 0.2em;
}

/* Default pop menu button styling */
.menu button
{
	cursor: pointer;
	padding: 2px 3px;
	color: #fff;
	background-color: #259;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #147;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.menu button:hover
{
	background-color: #47b;
	border: 1px solid #369;
}
.menu button:active
{
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background-color: #f70;
	border: 1px solid #d60;
}

/* Saves pop menu styling */
#savesMenu_list
{
	border-spacing: 0;
	border-bottom: 1px solid #fff;
	min-width: 320px;
	width: 100%;
}
#savesMenu_list tr:nth-child(even)
{
	background-color: #444;
}
#savesMenu_list td
{
	padding: 0.1em 0.3em 0.2em;
}
#savesMenu_list td:first-child
{
	min-width: 1.5em;
	text-align: center;
}
#savesMenu_list .emptySave
{
	color: #999;
}
#savesMenu_list button.load, #savesMenu_import
{
	background-color: #292;
	border: 1px solid #171;
}
#savesMenu_list button.load:hover, #savesMenu_import:hover
{
	background-color: #4b4;
	border: 1px solid #393;
}
#savesMenu_list button.load:active, #savesMenu_import:active
{
	background-color: #f70;
	border: 1px solid #d60;
}
#savesMenu ul { display: block; margin: 0; padding: 0; list-style: none; }
#savesMenu li { display: inline-block; margin: 0; padding: 0.4em 0.4em 0.5em; }
#savesMenu_importLabel { margin: 0 6px; font-weight: bold; }
#savesMenu_importFile { margin: 0 6px 6px; }

/* Rewind & Share pop menu styling */
#shareMenu a { display: block; color: #fff; font-weight: normal; text-decoration: none; }
#snapbackMenu div, #shareMenu div, #shareMenu a
{
	padding: 0.15em 0.75em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#snapbackMenu div:nth-child(even), #shareMenu div:nth-child(even), #shareMenu a:nth-child(even)
{
	background-color: #444;
}
#snapbackMenu div:hover, #shareMenu div:hover, #shareMenu a:hover
{
	cursor: pointer;
	color: #fff;
	background-color: #47b;
}
#snapbackMenu div:active, #shareMenu div:active, #shareMenu a:active
{
	background-color: #47b;
}

#passages { margin-left: 16em; padding-left: 1.5em; border-left: 1px solid #fff; }
.passage { line-height: 1.75; margin-bottom: 2em; text-align: left; }
.passage ul.actions { list-style: none; padding-top: 1.3em; text-align: center; }
.passage .actions > ul { list-style: none; text-align: center; }
.passage .actions li { display: inline; margin-right: 6em; }
.highlight, .marked { color: yellow; font-weight: bold; font-style: italic; }
.passage ul { margin-left: 0.5em; padding-left: 1.5em; }
.passage ol { margin-left: 0.5em; padding-left: 1.5em; }
.passage table { margin: 0.8em 1.0em; border-collapse: collapse; font-size: 100%; }
.passage th, .passage td, .passage tr, .passage caption { padding: 3px; }
.passage hr { height: 1px; border: none; background-color: #fff; }

#storeArea { display: none; }

.transition-in { opacity: 0; }
.passage:not(.transition-out) { transition: opacity 400ms ease-in; -webkit-transition: opacity 400ms ease-in; }
/*.transition-out { opacity: 0; position: absolute; }*/
