
@font-face
{
	font-family: 'icomoon-sugarcube';
	src: url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AABAoAAsAAAAAGrwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAADOoAABU/8K+ON0ZGVE0AAA30AAAAGgAAABxmY4kUR0RFRgAADhAAAAAdAAAAIABNAARPUy8yAAAOMAAAAEsAAABgL9zcQGNtYXAAAA58AAAAPQAAAVLgL/LNaGVhZAAADrwAAAAuAAAANv35Wp9oaGVhAAAO7AAAAB4AAAAkBBD/5GhtdHgAAA8MAAAAHAAAAEYEkACpbWF4cAAADygAAAAGAAAABgAgUABuYW1lAAAPMAAAAOsAAAIEsBPXSHBvc3QAABAcAAAADAAAACAAAwAAeJyNWA1YlFUWvh/NMCOwIwpjSgr+/w0aKKRkmhqRipnppGaWplabY2o6tOr6syaJ+Wm6NpjrX0b+BWy5RmirD49rZOaUieLPipqy2ioQaLF+n8zI2fd8dxhto+fZZ3jOvffce895z7nnnns+FGEyCUVRmr86ZeZrM2fO6DEn45UXZ0/JmPySUEKEIgboD4fo/e7TW5rUiPvUCFNsmGg1ujmparATYVkxTc/WM8ytlZymrYWIbK1cbtZaRLSOGtpctGMZVtFUtBBtREfhEL1EihgonhAjxDNigpgiponXxVyxWCwTq4RHbBQ54iOxW+wVReJL8Y04Kc6JSuHPmPFqWkJCAprHg02ibHrJprdskmSTLJuHZNNHNn1lkyKbQbIZLJvHZJMqm8dlk2Y0iVJfotSXKPUlSn2JUl+i1Jco9SVKfYlSX6LUlyj1JUp9iVJfYuqvnP7rUxBCyVKWK28rKxRVWamsUt5RVitrlD8ra5V3FY+SraxT3lPWK39RNigblU3KZmWL8r6yVflAyVE+VLYp20VbPoIQESFKlSRTC1MP03bTl6bzpmvmYeax5j2httAeoSNCM0KzQzVLf4uvycjw8RHv2/bbrjed0HRD032RVZHUrKNN1d0mv0f3WGx6plZgJ2E9bSJh6eYn0tEjrZs/zmEx2gCngR3rS/WlhjY647iXbQhjsXEaNlganam03KM4yI7VUjVoaGymMrRRpJBv07aZGt2iuxvf8xvW+d2NG2Ejxec8QCI17y14S8m3EtWP3ode8pvohR8mIQ7vIrpTuYxESNwiorqnvsfE1xB0e9wpIt9rNoNgX+HWTCaDzcxYG5i6Pa4Uy48O4I1bWMSCgDBDbH2ElVUtYaVuVt8Ecqj+DUwrwDv1rzYSG0f3lj2amv8tZBMtYLKQySImRUGykOUUgjhTGPwy1ryY9QEYpYyTGOjOJQxvPzuONR8CzOnfkjCt/cmwYDCJoRMXGhY0NbjSVhG608Hgi0iYd7dj8BUYRv9RghdKbQpI3mG2YBhmxWAmS4NkUJBkWtmgJCZuNugb9EbdYJv3sc1DzAz+4YaDAHjILpLgoW8+g1/KGNqy5i+Aa0cFw7wZsADgi5gcNEvwILt50S4sf8jEG7exiMEsjL2YskGCh6pFrHSood5qQAmA2jjqp3uAGriNw5FosWdlg+m1C2TYGEDhopdZ32R55gYGIw6kU32vjTTQLmKnLzPQ3pARYwCVYWMcVN1TlyRQHGOqBGrEJU5aN447EDEGWsTJ2iDaGUbPbNNT9SR7WT9fKX5OzVlWppl8JjM0Hd67ioS9c4WdlJTFB0lJWj2BaDOH6Yvt1xB1S/iQKB6+pY3/GEJicu5iOUtbLswC4ofih7UgEZ85noSjpCuJqQOgf/MzA0mc/m4CiZNsS3zmJqLSB2Oo3s8HKg49CThuU9sw3Z1nbxem1eomuzfd58YvSUvyeisdv5iv1GrtPo+Gn+Vetk3z6G57+zC/09QhzKE5cXGT7tQCRkhEgBjDII9K0SMv97zBYSO84N7YX2hAilhQPcYFLSvHwzfvFdQTlffqSeLnKJ3qazMv4rgs060qiQUPbvE52cc+J0aLrs+Dm76fJBAH/T8luuXC+U0+/yPRVx2aE633XbPCRUubVUEV0ZxtF4h+nx5Cos2xMUQRVVZSwudfQuToHsimpccna4ZkDbJpSYssXJW2WwUC5NBqEk08yGGb25eQ6HshgcQrppZWm+Y2setUuNajGjnC58QZiMEqWPCzR3PDuz6PqiWBGNdWcxIkFqlgIUAUcBgbs7AwCfs8EMELVclMUs1wlUseEuZBnYYm1VCk8Xyl7rTr0X78QrXaPLvGYVhqSU9HT81z+aNVVY/Oc8FT67YuRdBNXAhnnCiqI9FjEG7ZREgTk4Qi0ytuzALYr7IhgfFCWOIESm+66nf6PZDmMWuedLsv2qtFWzSotaukvLRwD9HVhXBNzJsjiM69eZyd4CtgS12q6o9mO3SOpFWT15CYvXkWEfcIvTgY8+nbfye6OA+3cP8LnxMd/SeSacn9qxDTp3IP7gf4LuerSXTouZ5Eq06TSPSe+zRclPLs/aDTmmBvrrWAxDO30oiyteEQeLTuMuhx5EeqWHKU6MJA3PULg0KRFZ4obkm0r38CgkjlAxnmu0b0WchxaOk5WgPhBPloPTzUetctEml/66LisEtJWVdwAAZMWPYy0ZWMQyQeY7y5T5ZC0Yasj4E1cyiQbCxMCxBjmDnUz0Mkx6kYij8WpsUC80tzR/H+MmDeE88yO5F4YMUAyDhgzsEL++PVHLykrVoQ1Yx/gah2z26im5uqA+TyVx8HSM1zU4nOlFQBwqnHnJKSiNy2yeCSiO07Sq5E7+lAr2uPk3Kj6H6gWm2gXXuckBuNPf9LjImuPaON5flW2bCUHQabJU8PaGOEwjb5uIQuwp8cKc0Rlh8qrHjlVj1+BfHs5ZxDyomrsSQ+viS4krpYR3QjB5ctwn2A6GecirBNOYuqovhZ+OXbT5Cnd50rx7Us6TkGccYvb/EMqL7RpQaxh9CgkpVNsLxLd/D4Pfed6AkQA/mJDA9B740syNk4cQFeftp3ikRyOSemZXi8HOvfRci8fB0OrB78O9Ca53/G/r7g3sw/Bpk7KgwI35MY22kSB8qm7jiwztfhmUi8lf2WrGAIgNXTjddOi64n0fT1KliRgUc0wnYOcpaegY2PTEMA9nrqrpxzuIBXLRDWb+9w7DmB5zTmfD4mshAW1ptdwFuAWZPjLaiqweNAF5BIIwvmQ87UD4xypR7060vFsGIdXrbStri2ycWb4Ndmpw7hoCILl2N/KRDZOFVajZex18i27M2t7M0+wxHP11Au1JzF8RUDECAgykrm3Q+je8SUQ3zGEpxQCicMvMtA92pfJvN4OJAnnrAyReCWrFvOMwj8w8gxIPuYlxYgQR6W+JmXZUiN5WRZYOfbiIsYYRBGxuUZ30Y6GDICt/EjSP18xHrVaqSNQAJpyCKS3M0snGjiSAznuyFSryE7tDv7LsRVoYBKzh4IGd+dCUMYd2wJTXd6o6rzf4fK8w7fOf/lt0H00yC3MSw7MI2JC1uO3CKqsjiIvtkbpjZQ5ooo/RQv6kaiI64gevncOyOXi4Q+WCh6D7klqVzOXLkc5KxcLofGRJReKrdYG3YyG/Li5XrWATP2PdLVIMaLgwxL74/chgivb4XkdN2BuK/rhFxSwcXyrRoUIFVZNyCwf30dBHawIIfMYWsv1aL40x/Bsf8LPGHwvjqxW4VzylED0llOkid3dCb6d0ekz2MvJKlMk0FPbr9ComUZ5st3Igl0wdso90pZtDL2Dywfxazli+ZSp2CegcEsUYmouZESqbAbRXErFKQtSuuthjl5eKK2xyL4QqpxxTqOPYY7dQu3p50DhX4UX5KYTdOx9BOLA0rP66NYAYIsLhy3xnLoOGIHPDJ4Y8eGQakQs2eCjDsNMqcQZMwR7vUGGfsOjh3FgmhycCCAxKN6D8sohrPCyo+DJl1egaipKwe5iO+IZDOnc0mZS6farQh8L3hjC4HmP20SWMpK9FbgK8W/PRYWP1rE2nDlaFeBRIBeLaNCxqKd8VaJU+LGYQxhW/C5ofdPkPYR82BvPNsSdRPHcnWKk72CS3axdL70FJXt6mWVrrN5Tem6x2vxO7Vou8NbaclD63N7NbclzxF4y/MQPb5Sr1ZqCZZnU/Fszb6ErPF82wZiDJlQTsMErQqSnIaJuzy5JCewLc6lXbGne72WPJ/HnufSoh2uPIfLBZVuIOIJL5dNznTUDaGOdNXlVSvxByub4dMH2RjX18bfYNWjC2MdZfaOYftNnYyKNTXQd/lqDTnpmgdyvJqTzSFlzYdcfeRPO0j1qyfkU/3O7n9i34HBZQnVanyTQeHk1TFI4Vu/hLY2tYiqTm9kUf3w13MRqjWDvIjyfvwyDUjGVdiOUqR95wrcUGXPzumhPNil8iRe+pbjt/KGNBScxS0NMUdI+fSdMWYWju8ZG78+rFBYZv0gAVhRrgFks4/wRWgbYwoQYxjk0U30qJp71cFhI7zg3tg8IytUs9NuNviQh3HZjr1q9m+4FmWlGxWk3xPKXw4o5VCwatH40AHPeZcHv3vsLl+BP9ricqm6k5NQtGpXI8Jai4goEcr/c2kimokp4jNluXJO9/jxCw3XnaglnZbwxsrB307uFFwsGjJ8YNjAiwvnctDPlaApQIwhE8ptmKDsIMltmLjLk0tyA9tYYp/VMXzx++1AGn0eJW6XoX2REAuP3Nuz56Dg8RaPRxAdmfWDQa/K5eA+Jxf9gnxtLOclD96zRZVciCuRi6CiT7DXVy4HlO0qw3rAajQxcr2B0FhvLL2nZ0wwQt6jWsP/3/ezMRdLcvcojAo+/L/XhX5pAAB4nGNgYGBkAIKTnfmGIPpcLs9HGA0AQfMGZAAAeJxjYGRgYOADYgkGEGBiYARCeSBmAfMYAAWfAFIAAAB4nGNgZmJgnMDAysDB6MOYxsDA4A6lvzJIMrQwMDAxsDIzwIEAgskQkOaawuDwgOEDA+OD/w8Y9BgfMCg0MDAwwhUoACEjABBCDB8AeJxjYGBgZoBgGQZGBhDwAfIYwXwWBgMgzQGETCCJB7IfGP7/B7MYICwFJgFGqC4wYGRjQOaOSAAA6o8IywAAAHicY2BkYGAAYplLHJ3x/DZfGbiZGEDgXC7PRwT9/wETA+MDIJeDASwNABlZCmoAAHicY2BkYGB88P8Bgx4TAwPDPwYgCRRBAcwAbecD9gAAeJxjYoAAJgasQIHBAIkNITnR1CQwOAAAFSkBPgAAUAAAIAAAeJydjz1qw0AQRt/KssEkjU1IvZiUkZA2YCwfwEXq4MKksYUQKqyFlXWVnCMnylkykqcIJBDwwjCPb775WeCeDwzDMyx4Uo6Y86o8IeFTOWZhIuUpd+ZZeSb6uzhNPBdlNXYNHLFkrTzhwJtyLJ4v5SmP5kF5xspsaCjxnCU8rWzv6Kk5EkTvOVFBU/qz923S9fUxlP1JpD9cP6q7cdZlzEF8FRZHSiZ5K/H/zqvPUUh1CCe9OS8y2reXnQ91ZV2a2a39dZtorkiKxGW52G/73V70IN5m7LKyebidfRW6xrc2T7MbJ38DZLhZlgB4nGNgZsALAAB9AAQ=) format('woff');
	font-weight: normal;
	font-style: normal;
}

body { margin: 3.5em 15% 5% 3.5em; color: #fff; background-color: #111; font-family: verdana,"dejavu sans",tahoma,arial,sans-serif; font-size: 12px; }
a { cursor: pointer; color: #46d; }
a:hover { color: #79f; }
a:active { color: #f70; }
a.link-internal, a.link-external, a.link-back, a.link-return { font-weight: bold; text-decoration: none; }
a.link-internal:hover, a.link-external:hover, a.link-back:hover, a.link-return:hover { text-decoration: underline; }
a.link-broken { padding: 3px; color: #000; background-color: red; font-weight: bold; text-decoration: none; }
input, textarea { min-width: 16em; color: #fff; background-color: #444; border: 1px solid #fff; }
input:focus, textarea:focus { border: 1px solid #292; }
input:hover, textarea:hover { border: 1px solid #f70; }
noscript { color: red; font-size: 210%; font-weight: bold; }
.error { margin: 0 12px 0 3px; padding: 3px 5px; color: #000; background-color: red; font-weight: bold; }
.transition-start { opacity: 0; }

#ui-bar { position: fixed; top: 3.5em; left: 3.5em; width: 14.5em; margin: 0; padding: 0 1.5em 0 0; border-right: 1px solid #fff; }
#ui-bar header, #ui-bar nav, #ui-bar footer { text-align: right; }
#ui-bar header, #ui-bar nav { font-weight: bold; }
#ui-bar nav, #ui-bar footer { margin-top: 3em; }
#ui-bar ul { list-style: none; }
#ui-bar li { margin-bottom: 1em; }
#ui-bar li a { text-decoration: none; }

#story-caption, #menu-story, #menu-options, #ui-body.share, #menu-share { display: none; }
#story-title { margin: 0; font-size: 210%; }
#story-subtitle { font-size: 111%; }
#story-author { font-size: 111%; }
#story-caption { margin-top: 3em; text-align: right; }
#menu-story { line-height: 1.2; }

[data-icon], .icon-checkmark, .icon-checkmark-2, .icon-close, .icon-plus, .icon-minus, .icon-arrow-left,
.icon-arrow-right, .icon-arrow-up, .icon-arrow-down, .icon-spinner, .icon-cog, .icon-disk, .icon-bookmarks,
.icon-bookmark, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-checkbox-partial, .icon-radio-checked,
.icon-radio-unchecked, .icon-undo, .icon-undo-2, .icon-forward, .icon-switch, .icon-warning, .icon-notification,
.icon-question, .icon-info,
a.link-back:before, a.link-return:before, a.link-external:after,
#menu-saves:before, #menu-rewind:before, #menu-restart:before, #menu-options:before,
#ui-body.options a[id|="option-input"]:before, #ui-body.options a[id|="option-input"].enabled:before
{
	font-family: 'icomoon-sugarcube';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[data-icon]:before { content: attr(data-icon); }
.icon-plus:before { content: "\e000"; }
.icon-minus:before { content: "\e001"; }
.icon-close:before { content: "\e002"; }
.icon-checkmark:before { content: "\e003"; }
.icon-checkmark-2:before { content: "\e004"; }
.icon-checkbox-checked:before { content: "\e005"; }
.icon-checkbox-partial:before { content: "\e006"; }
.icon-checkbox-unchecked:before { content: "\e007"; }
.icon-radio-checked:before { content: "\e008"; }
.icon-radio-unchecked:before { content: "\e009"; }
.icon-undo:before { content: "\e00a"; }
.icon-forward:before { content: "\e00b"; }
.icon-arrow-left:before { content: "\e00c"; }
.icon-arrow-right:before { content: "\e00d"; }
.icon-arrow-up:before { content: "\e00e"; }
.icon-arrow-down:before { content: "\e00f"; }
.icon-new-tab:before { content: "\e010"; }
.icon-disk:before { content: "\e011"; }
.icon-undo-2:before { content: "\e012"; }
.icon-switch:before { content: "\e013"; }
.icon-cog:before { content: "\e014"; }
.icon-spinner:before { content: "\e015"; }
.icon-bug:before { content: "\e016"; }
.icon-bars:before { content: "\e017"; }
.icon-info:before { content: "\e018"; }
.icon-question:before { content: "\e019"; }
.icon-notification:before { content: "\e01a"; }
.icon-warning:before { content: "\e01b"; }
.icon-bookmark:before { content: "\e01c"; }
.icon-bookmarks:before { content: "\e01d"; }

a.link-back:before, a.link-return:before { content: "\e00a\00a0\00a0"; }
a.link-external:after { content: "\00a0\e010"; }
#menu-saves:before { content: "\e011\00a0\00a0"; }
#menu-rewind:before { content: "\e012\00a0\00a0"; }
#menu-restart:before { content: "\e013\00a0\00a0"; }
#menu-options:before { content: "\e014\00a0\00a0"; }

#credits, #version { margin-top: 1em; color: #999; font-weight: normal; font-size: 71%; }

/* Default menu styling */
#ui-overlay
{
	display: none;
	z-index: 1000;
	opacity: 0.66;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #000;
}
#ui-body
{
	display: none;
	z-index: 1100;
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 50%;
	min-width: 140px;
	max-width: 1024px;
	color: #fff;
	background-color: #333;
	border: 1px solid #fff;
	text-align: left;
	line-height: 2;
}
#ui-body div
{
	padding: 0.2em;
}
#ui-body hr { height: 1px; border: none; background-color: #fff; }

/* Default menu button styling */
#ui-body button
{
	cursor: pointer;
	padding: 4px 6px;
	color: #fff;
	background-color: #36c;
	border: 1px solid #58e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body button:hover
{
	background-color: #58e;
	border: 1px solid #7af;
}
#ui-body button:active
{
	background-color: #f70;
	border: 1px solid #f92;
}
#ui-body > ul > li + li > button, #ui-body .controls > button + button
{
	margin-left: 12px;
}

/* Saves menu styling */
#ui-body.saves table
{
	border-spacing: 0;
	border-bottom: 1px solid #fff;
	min-width: 320px;
	width: 100%;
}
#ui-body.saves tr:nth-child(even)
{
	background-color: #444;
}
#ui-body.saves td
{
	padding: 0.33em 0.33em;
}
#ui-body.saves td:first-child
{
	min-width: 1.5em;
	text-align: center;
}
#ui-body.saves .empty
{
	color: #999;
}
#ui-body.saves ul { display: block; margin: 0; padding: 0; list-style: none; }
#ui-body.saves li { display: inline-block; margin: 0; padding: 0.33em 0.33em 0.4em; }
#ui-body.saves > div { border-top: 1px solid #fff; }
#saves-import-label { margin: 0 6px; font-weight: bold; }
#saves-import-file { margin: 0 6px 6px; }

/* Rewind & Share menu styling */
#ui-body.share a { display: block; color: #fff; font-weight: normal; text-decoration: none; }
#ui-body.rewind div, #ui-body.share div, #ui-body.share a
{
	padding: 0.15em 0.75em;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body.rewind div:nth-child(even), #ui-body.share div:nth-child(even), #ui-body.share a:nth-child(even)
{
	background-color: #444;
}
#ui-body.rewind div:hover, #ui-body.share div:hover, #ui-body.share a:hover
{
	cursor: pointer;
	color: #fff;
	background-color: #47b;
}
#ui-body.rewind div:active, #ui-body.share div:active, #ui-body.share a:active
{
	background-color: #47b;
}

/* Options & Restart menu styling */
#ui-body.options, #ui-body.restart
{
	min-width: 280px;
	padding: 0.33em 1em 0.66em;
}
/*
@media screen and (min-width: ???) { #ui-body.options { min-width: ???; } }
*/
#ui-body.options ul, #ui-body.restart ul { display: block; margin: 0; padding: 0; list-style: none; }
#ui-body.options li, #ui-body.restart li { display: inline-block; margin: 0; padding: 0.4em 0.4em 0.5em; }
#ui-body.options [id|="option-body"] { position: relative; padding: 0; }
#ui-body.options div[id|="option-body"] + div[id|="option-body"],
#ui-body.options div[id|="option-body"] + br + div[id|="option-body"]
{
	margin-top: 0.5em;
}
#ui-body.options [id|="option-label"] { position: relative; top: 0; left: 0; width: 80%; }
#ui-body.options [id|="option-control"] { position: absolute; top: 0; right: 0; width: 18%; }
#ui-body.options select[id|="option-input"]
{
	position: relative;
	top: -3px;
	cursor: pointer;
	padding: 3px 6px;
	font-weight: normal;
	color: #fff;
	background-color: #36c;
	border: 1px solid #58e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
}
#ui-body.options a[id|="option-input"]
{
	cursor: pointer;
	padding: 4px 6px;
	font-weight: normal;
	color: #fff;
	background-color: #36c;
	border: 1px solid #58e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ui-body.options a[id|="option-input"]:hover
{
	background-color: #58e;
	border: 1px solid #7af;
	text-decoration: none;
}
#ui-body.options a[id|="option-input"].enabled
{
	background-color: #292;
	border: 1px solid #4b4;
	text-decoration: none;
}
#ui-body.options a[id|="option-input"].enabled:hover
{
	background-color: #4b4;
	border: 1px solid #6d6;
	text-decoration: none;
}
#ui-body.options a[id|="option-input"]:before { content: "\e002\00a0\00a0"; }
#ui-body.options a[id|="option-input"].enabled:before { content: "\e003\00a0\00a0"; }

#passages { margin-left: 16em; padding-left: 1.5em; border-left: 1px solid #fff; }
.passage { line-height: 1.75; margin-bottom: 2em; text-align: left; transition: opacity 400ms ease-in; -webkit-transition: opacity 400ms ease-in; }
.passage .actions { list-style: none; padding-top: 1.3em; text-align: center; }
.passage .actions li { display: inline; margin-right: 6em; }
.passage ul, .passage ol { margin-left: 0.5em; padding-left: 1.5em; }
.passage table { margin: 0.8em 1.0em; border-collapse: collapse; font-size: 100%; }
.passage th, .passage td, .passage tr, .passage caption { padding: 3px; }
.passage hr { height: 1px; border: none; background-color: #fff; }

.highlight, .marked { color: yellow; font-weight: bold; font-style: italic; }

#store-area { display: none; }
